<!DOCTYPE html>
<html>
    <head>
        <title><%=ppp%></title>
    </head>
    <body>
        <h1>Welcome to pizza page</h1>
        <h2>have a slice</h2>
        <img src="p.jpg">
        <form method ="POST">
            <input type ="text" name = "user">
            <input type = "password" name="pass">
            <input type = "submit" name="login">

            //this text box will only show stars
        </form>
    </body>

</html>